@model IEnumerable<proyectomvc.Models.Formulario>

<h2>Registros</h2><br>

<p>
    <a asp-action="Crear">Registrar</a>
</p><br>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Editar" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
        </tr>
    }        
    </tbody> 

    
</table>